body{
    margin:0;
    background-color: rgb(5, 25, 70);

}











/*                          header                      */

header{
    color:rgb(129, 193, 236);
    height: 10vh;
    background-color: rgb(17, 50, 94);
    padding: 0 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    justify-content: space-between;
    

}

#logo{
    display: flex;
    align-items: center;
    
}

#logo img{
    text-shadow: 0 0 5px white;
    margin-left: 5px;
    width: 40px;
    image-rendering:auto;
    filter: invert();
    height: 40px;


}
#logo h2{
    
    margin: 0 0 0 10px;
    font-size: 1.9rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header form{
    margin-left: 50px;
    display: flex;
    
}
header form input{
    text-align: right;
    border-radius: 10px 0 0 10px;
    border: none;
    height: 40px;
    width: 40vw;
}
header form button{
    border:1px solid white;
    background-color: white;
    border-radius: 0 10px 10px 0;
   
}
#user{
    display: flex;
    align-items:center;
    
    height: 60%;
    margin-right:10px 5px;
    padding: 5px 10px ;

}
#user h3{
    margin: 0;
    color:white;
}
#user:hover{
    border-bottom: 2px solid white;
   

}
#user img{
    text-shadow: 0 0 5px white;
    margin-left: 5px;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    filter: invert();
}



#suggestion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:7px 0;
    height: 20px;


}
#suggestion p{
    text-align: center;
    color:whitesmoke;
    margin: 0;
    width:10%;

}
#suggestion p:hover{
    border-bottom: 2px solid white;
  
}


/*                        left pane                  */

#main-window{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 241, 241);
}
#left-pane{
    width: 20vw;
    border: 1px solid grey;
    height: 90vh;
    position:relative;



}


#product-listing{
    padding:5px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
    width: 80vw;
    border: 1px solid black;
}


.product{
    padding: 14px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height:330px;
   
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
   
}

.product:hover{
    background-color: white;
}
.product img{
    border: 1px dotted grey;
    
   
    width: 90%;
}
.product div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    
    
    text-align: left;
}

.product div h4{
    text-align: left;
    color: rgb(153, 200, 253);
    text-shadow: 0 0 2px black;
    font-size: 1em;
    margin:0;
    padding: 5px;
}

.product div p{
    text-align: left;
    color: white;
    font-size: 0.8em;
    margin: 0;
    padding:5px;
}
