body{
    margin:0;
    background-color: blue;
    display: flex;

}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0;
    color: white;
    text-shadow: 0 0 3px  black;
    background-color: rgba(9, 9, 134, 0.226);
    
    width: 20%;
    margin: 10vh 10px 10px 30px;
    border: 1px solid black;
    border-radius: 25px;
}
#left div{

    width: 80%;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position:static;
    cursor: pointer;
    

}

#left div h3{
    margin-left:5px;
    text-align:end;
}
#left div i{
    padding-bottom: 2px;
}
@keyframes glow {
    0%{

    }
    100%{
        text-shadow: 0 0 2px white;
        box-shadow: 0 0 5px white;
    }
    
}
#left div:hover{
   animation: glow 0.3s forwards;
   border-radius: 25px 0 0 25px;

}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    width: 100%;

}
#profile{
    margin-top: 10vh;
    height: 80vh;
    flex-direction: column;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}
#profile_avatar{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#profile_avatar img{
    width: 100%;
}

#basic_info{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 10px;   
    border: 1px solid rgba(255, 255, 255, 0.719);
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.418);
   
}
#basic_info div{
    border-bottom: 2px solid rgba(97, 97, 97, 0.76);
    
}



#privacy{
    margin-top: 10vh;
    height: 80vh;
    width: 70%;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
}

#box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid black;
   padding:50px;
   border-radius: 25px;
}
#passwordForm{
    display: flex;
    
    color:rgb(255, 255, 255);
    flex-direction: column;
    margin: 20px;
} 
#passwordForm input{
    border-radius: 10px 25px 25px 10px;
    font-size: 1.3em;
    color: white;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.418);

    height: 30px;
    width: 400px;
    margin: 10px;
}

#passwordForm button{
    color: rgb(255, 255, 255);
   
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    font-size: 1.2em;
    height: 40px;
    width: 40%;
    margin:10px auto;

}

.focus{
    border-bottom: 2px solid white;
    box-shadow: 0 0 5px white;
    border-radius: 25px 0 0 25px;
}